.mui-inner-wrap {
	margin-bottom: 48px;
}

.mui-container {
	padding: 0 15px;
	background: #fff;
}
.qyn-top {
	background: #fff;
	position: initial;
}

/*重置默认滚动当前状态*/

.mui-slider-indicator {
	bottom: -3px;
}

.mui-slider-indicator .mui-indicator {
	width: 4px;
	height: 4px;
	background: #ccc;
}

.mui-slider-indicator .mui-active.mui-indicator {
	border: none;
	background: #ff6724;
}

.top-mui-slider .mui-slider-item a img {
	height: 150px;
}


/* 快讯 */

.information-box {
	margin-bottom: 1px;
	background: #fff;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	padding-left: 20px;
	background: url('../images/icon-kauixun@2x.png') no-repeat left center;
	background-size: 14px 16px;
	position: relative;
}

.date {
	float: right;
	color: #bbb;
}
.information-box .txtMarquee-top {
	width: 80%;
}
.information-box .txtMarquee-top .tempWrap {
	height: 14px !important;
	margin: 5px 0;
}
.information-box .txtMarquee-top .list {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* 首页导航 */

.home-nva-box {
	padding: 7px 0;
	background: #fff;
	margin-bottom: 7px;
}

.home-nva-box .home-nav-items {
	display: table-cell;
	width: 1%;
	text-align: center;
	color: #414141;
}

.home-nva-box .home-nav-items:last-child {
	margin-right: 0;
}

.home-nva-box .home-nav-items .home-nav-icon,
.home-nva-box .home-nav-items .home-nva-txt {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}

.home-nva-box .home-nav-items .home-nav-icon img {
	width: 45px;
	height: 45px;
}


/*行情-滚动*/

.data-slider {
	background: #fff;
	margin-bottom: 7px;
}

.data-slider h1 {
	padding: 10px 15px;
	font-size: 15px;
	color: #4d4d4d;
	font-weight: bold;
	border-bottom: 1px solid #e5e5e5;
}

.data-slider h1 span {
	float: right;
	font-size: 14px;
	font-weight: normal;
	color: #bbb;
}

.data-slider .mui-slider .mui-slider-group {
	/* height : 142px; */
	text-align: center;
}

.data-list {
	position: relative;
	display: inline-block;
	width: 28%;
	margin-top: 10px;
	margin-right: 10px;
	padding-top: 20px;
	padding-bottom: 15px;
	list-style: none;
	text-align: center;
	color: #ff6724;
	border: 1px solid #feefea;
	background: #fcf7f7 url('../images/bg@3x.png') no-repeat 0 0;
	background-size: 100% 100%;
}

.data-list:last-child {
	margin-right: 0;
}
.data-itme-up {
	display: inline-block;
	position: absolute;
	right: -3px;
	top: 6px;
	background: #fcf7f7 url('../images/lable-junjia@2x.png') no-repeat 0 0;
	background-size: 100% 100%;
	height: 15px;
	width: 32.5px;
	
}
.data-list dt,
.data-list dd {
	margin: 0;
	padding: 0;
	line-height: 110%;
}

.data-list .data-content {
	font-size: 11px;
}

.data-list .data-title {
	height: 28px;
	font-size: 11px;
	color: #4d4d4d;
}

.data-list .data-content-jia {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 8px;
}

.data-list .data-content span {
	display: inline-block;
	width: 80%;
	height: 18px;
	padding: 0 5px;
	font-size: 11px;
	line-height: 16px;
	border: 1px solid #ff6724;
	border-radius: 15px;
}

.data-list .up span {}

.data-list .down span {
	color: #62af20;
	border: 1px solid #62af20;
	border-radius: 15px;
}


/*即时成交*/

.instant-deal {
	background: #fff;
}

.deal-title {
	padding-top: 8px;
}

.deal-title-time,
.deal-content-note {
	float: right;
	color: #bbb;
}

.deal-content strong {
	font-size: 18px;
	color: #FF6724;
}

.instant-deal .instant-deal-title {
	padding: 10px 15px;
	margin: 0;
	font-size: 15px;
	color: #4d4d4d;
	font-weight: bold;
	border-bottom: 1px solid #e5e5e5;
}

.instant-deal .picScroll-top {
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.instant-deal .picScroll-top .bd {
	padding: 0;
}

.instant-deal .picScroll-top .bd ul {
	overflow: hidden;
	zoom: 1;
	list-style: none;
	margin: 0;
	padding: 0;
}

.instant-deal .picScroll-top .bd ul li {
	height: 63px !important;
	padding: 0 15px;
	border-bottom: 1px solid #E5E5E5;
	zoom: 1;
	color: #4D4D4D;
	font-size: 14px;
}

