.mui-inner-wrap {
  margin-bottom : 48px;
}

.mui-container {
  padding : 0 15px;
  background : #fff;
}
.qyn-top {
  position : initial;
  background : #fff;
}

/*重置默认滚动当前状态*/

.mui-slider-indicator {
  bottom : -3px;
}

.mui-slider-indicator .mui-indicator {
  width : 4px;
  height : 4px;
  background : #ccc;
}

.mui-slider-indicator .mui-active.mui-indicator {
  border : none;
  background : #ff6724;
}

.top-mui-slider .mui-slider-item a img {
  height : 150px;
}


/* 快讯 */

.information-box {
  position : relative;
  overflow : hidden;
  height : 24px;
  margin-bottom : 1px;
  padding-left : 20px;
  line-height : 24px;
  background : #fff;
  background : url('../images/icon-kauixun@2x.png') no-repeat left center;
  background-size : 14px 16px;
}

.date {
  float : right;
  color : #bbb;
}
.information-box .txtMarquee-top {
  width : 80%;
}
.information-box .txtMarquee-top .tempWrap {
  height : 14px !important;
  margin : 5px 0;
}
.information-box .txtMarquee-top .list {
  margin : 0;
  padding : 0;
  list-style : none;
}
.information-box .txtMarquee-top .list .information-items a {
  color: #414141;
}

/* 首页导航 */

.home-nva-box {
  margin-bottom : 7px;
  padding : 7px 0 3px 0;
  background : #fff;
}

.home-nva-box .home-nav-items {
  display : table-cell;
  width : 1%;
  text-align : center;
  color : #414141;
}

.home-nva-box .home-nav-items:last-child {
  margin-right : 0;
}

.home-nva-box .home-nav-items .home-nav-icon,
.home-nva-box .home-nav-items .home-nva-txt {
  display : block;
  width : 100%;
  height : 100%;
  text-align : center;
}

.home-nva-box .home-nav-items .home-nav-icon img {
  width : 45px;
  height : 45px;
}


/*行情-滚动*/

.data-slider {
  margin-bottom : 7px;
  background : #fff;
}

.data-slider h1 {
  padding : 10px 15px;
  font-size : 15px;
  font-weight : bold;
  color : #4d4d4d;
  border-bottom : 1px solid #e5e5e5;
}

.data-slider h1 span {
  float : right;
  font-size : 14px;
  font-weight : normal;
  color : #bbb;
}

.data-slider .mui-slider .mui-slider-group {
  /* height : 142px; */
  text-align : center;
}

.data-list {
  position : relative;
  display : inline-block;
  overflow : hidden;
  width : 28%;
  height : 127px;
  margin-top : 10px;
  margin-right : 10px;
  padding-top : 20px;
  padding-bottom : 15px;
  list-style : none;
  text-align : center;
  color : #ff6724;
  border : 1px solid #feefea;
  background : #fcf7f7 url('../images/bg@3x.png') no-repeat 0 0;
  background-size : 100% 100%;
}

.data-list:last-child {
  margin-right : 0;
}
.data-itme-junjia {
  position : absolute;
  top : 3px;
  right : -3px;
  display : inline-block;
  width : 32.5px;
  height : 15px;
  background : #fcf7f7 url('../images/lable-junjia@2x.png') no-repeat 0 0;
  background-size : 100% 100%;
}
.data-itme-zuixin {
  position : absolute;
  top : 3px;
  right : -3px;
  display : inline-block;
  width : 32.5px;
  height : 15px;
  background : #fcf7f7 url('../images/lable-zuixinjia@2x.png') no-repeat 0 0;
  background-size : 100% 100%;
}
.data-itme-baojia {
  position : absolute;
  top : 3px;
  right : -3px;
  display : inline-block;
  width : 32.5px;
  height : 15px;
  background : #fcf7f7 url('../images/lable-baojia@2x.png') no-repeat 0 0;
  background-size : 100% 100%;
}
.data-itme-more {
  position : absolute;
  top : 1px;
  right : 35px;
  display : inline-block;
  height : 15px;
  font-size : 12px;

/*width: 32.5px;*/
  color : #bbb;
}
.data-list dt,
.data-list dd {
  margin : 0;
  padding : 0;
  line-height : 110%;
}

.data-list .data-content {
  font-size : 11px;
}

.data-list .data-title {
  height : 40px;
  padding : 0 15px;
  font-size : 11px;
  line-height : 150%;
  color : #4d4d4d;
}

.data-list .data-content-jia {
  margin-bottom : 8px;
  font-size : 22px;
  font-weight : bold;
}

.data-list .data-content span {
  display : inline-block;
  width : 80%;
  height : 18px;
  padding : 0 5px;
  font-size : 11px;
  line-height : 16px;
  border : 1px solid #ff6724;
  border-radius : 15px;
}



.data-list .down {
  color : #62af20;
}
.data-list .down span {
  color : #62af20;
  border : 1px solid #62af20;
  border-radius : 15px;
}
/*价格地图入口*/
.data-list-map .data-title {
  height : 20px;
}
.data-list-map .data-content-map img {
  width : 45px !important;
  height : 45px;
  margin-bottom : 5px;
}

/*即时成交*/

.instant-deal {
  background : #fff;
}

.deal-title {
  padding-top : 8px;
}

.deal-title-time,
.deal-content-note {
  float : right;
  color : #bbb;
}

.deal-content strong {
  font-size : 18px;
  color : #ff6724;
}

.instant-deal .instant-deal-title {
  margin : 0;
  padding : 10px 15px;
  font-size : 15px;
  font-weight : bold;
  color : #4d4d4d;
  border-bottom : 1px solid #e5e5e5;
}

.instant-deal .picScroll-top {
  position : relative;
  overflow : hidden;
  width : 100%;
  margin : 0 auto;
}

.instant-deal .picScroll-top .bd {
  padding : 0;
}

.instant-deal .picScroll-top .bd ul {
  overflow : hidden;
  zoom : 1;
  margin : 0;
  padding : 0;
  list-style : none;
}

.instant-deal .picScroll-top .bd ul li {
  zoom : 1;
  height : 63px !important;
  padding : 0 15px;
  font-size : 14px;
  color : #4d4d4d;
  border-bottom : 1px solid #e5e5e5;
}

