			.mui-slider-indicator.mui-segmented-control
			/*底导航里图片*/
			
			body #alertversion img {
				display: inline-block;
				margin-top: 5%;
				width: 20%;
			}
			
			.mui-off-canvas-wrap.mui-active .mui-off-canvas-backdrop {
				position: fixed;
			}
			
			.mui-bar-tab .mui-tab-item .mui-icon {
				width: 100%;
				height: 100%;
			}
			/*底导航里图片*/
			
			html,
			body {
				background-color: #efeff4;
				font-size: 12px;
			}
			
			.mui-bar~.mui-content .mui-fullscreen {
				top: 0px;
				height: auto;
			}
			
			.mui-pull-top-tips {
				position: absolute;
				top: -20px;
				left: 50%;
				margin-left: -25px;
				width: 40px;
				height: 40px;
				border-radius: 100%;
				z-index: 1;
			}
			
			.mui-bar~.mui-pull-top-tips {
				top: 24px;
			}
			
			.mui-pull-top-wrapper {
				width: 42px;
				height: 42px;
				display: block;
				text-align: center;
				background-color: #efeff4;
				border: 1px solid #ddd;
				border-radius: 25px;
				background-clip: padding-box;
				box-shadow: 0 4px 10px #bbb;
				overflow: hidden;
			}
			
			.mui-pull-top-tips.mui-transitioning {
				-webkit-transition-duration: 200ms;
				transition-duration: 200ms;
			}
			
			.mui-pull-top-tips .mui-pull-loading {
				/*-webkit-backface-visibility: hidden;
				-webkit-transition-duration: 400ms;
				transition-duration: 400ms;*/
				margin: 0;
			}
			
			.mui-pull-top-wrapper .mui-icon,
			.mui-pull-top-wrapper .mui-spinner {
				margin-top: 7px;
			}
			
			.mui-pull-top-wrapper .mui-icon.mui-reverse {
				/*-webkit-transform: rotate(180deg) translateZ(0);*/
			}
			
			.mui-pull-bottom-tips {
				text-align: center;
				background-color: #efeff4;
				font-size: 15px;
				line-height: 40px;
				color: #777;
			}
			
			.mui-pull-top-canvas {
				overflow: hidden;
				background-color: #fafafa;
				border-radius: 40px;
				box-shadow: 0 4px 10px #bbb;
				width: 40px;
				height: 40px;
				margin: 0 auto;
			}
			
			.mui-pull-top-canvas canvas {
				width: 40px;
			}
			
			.mui-slider-indicator.mui-segmented-control {
				background-color: #FFFFFF;
				border-bottom: 1 solid #E7E7E7;
			}
			
			.mui-segmented-control-negative.mui-segmented-control-inverted .mui-control-item.mui-active {
				color: #FFFFFF;
				font-size: 18px;
			}
			
			.mui-table-view {
				background-color: #f9f9f9;
			}
			
			.mui-table-view-cell {
				padding: 0;
				margin: 0;
			}
			
			.pulltop {
				margin-top: 10px;
				border-bottom: 1px solid #f5f5f5;
				border-top: 1px solid #f5f5f5;
			}
			
			.pulltop:first-child {
				border-top: 1px solid #FFFFFF;
			}
			
			.dateDiv {
				color: #999;
				padding: 15px 10px 10px;
				background-color: #fff;
			}
			
			.orderStatus {
				color: #ff6724;
				float: right;
			}
			
			.setbtn {
				color: #ff6724;
				border: 1px solid #ff6724;
				margin-top: 15px;
				width: 50px;
				font-size: 12px;
				height: 26px;
				line-height: 14px;
				text-align: center;
			}
			
			.setbtn-sell{
				color: #999999;
				border: 1px solid #F1F1F1;
				margin-top: 15px;
				width: 50px;
				font-size: 12px;
				height: 26px;
				line-height: 14px;
				text-align: center;
				padding: 0 0;
				background-color: #F1F1F1;
			}
			.setbtn-sell-well{
				color: #999999;
				border: 1px solid #F5F5F5;
				margin-top: 15px;
				width: 50px;
				font-size: 12px;
				height: 26px;
				line-height: 14px;
				text-align: center;
				padding: 0 0;
				background-color: #F5F5F5;
			}
			.organe1 {
				color: #ff6724;
			}
			
			.sellerCompany,
			.goodsDetail {
				color: #4d4d4d;
				background-color: #f9f9f9;
				padding: 15px 10px 10px;
			}
			
			.sellerCompany {
				border-bottom: 1px dashed #e7e7e7;
			}
			
			.goodsPrice {
				float: right;
			}
			
			.goodsCount {
				padding: 10px 10px;
				color: #4d4d4d;
				border-bottom: 1px dotted #e7e7e7;
				background-color: #fff;
				height: 38px;
			}
			
			.expireTime {
				padding: 12px 10px;
				color: #999;
				background-color: #fff;
			}
			
			.nobuy {
				height: 100px;
				text-align: center;
				vertical-align: center;
				padding-top: 45px;
				color: #4d4d4d;
			}
			
			.search-in {
				font-size: 14px;
				color: #999999;
				line-height: 14px;
				height: 14px;
				/*margin-top: 16px;*/
				    /*margin-left: -40px;*/
				/*padding: 0px 0px 0px 0px;*/
				/*float: left;*/
			}
			
			.search-info,
			.search-info-two {
				background-size: 26px 28px;
				width: 56px;
				margin-top: -12px;
				height: 65px;
				margin-left: -21px;
				position: absolute;
			}
			
			.search-info {
				width: 14px;
				margin-left: -4px;
				background: url(../images/filter.png) no-repeat -1px 12px;
				background-size: 15px 15px;
				/*float: left;*/
			}
			
			.search-info-two {
				width: 14px;
				margin-left: -4px;
				background: url(../images/filter_orange.png) no-repeat -1px 12px;
				background-size: 15px 15px;
				float: left;
			}
			
			.mui-table-view {
				font-size: 12px;
				background-color: #fff;
			}
			/*导航条修改开始*/
			
			.mui-bar {
				background: #FFFFFF;
			}
			
			.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
				border: 0;
			}
			
			.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
				height: 40px;
				border-bottom: 2px solid #ff6724;
			}
			
			.mui-slider-indicator.mui-segmented-control {
				position: relative;
				bottom: auto;
				height: 44px;
				line-height: 50px;
				/*padding-top: 8px;*/
			}
			
			.mui-table-view-cell:after {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 15px;
				height: 1px;
				content: '';
				-webkit-transform: scaleY(.5);
				transform: scaleY(.5);
				background-color: #fff;
			}
			
			.mui-segmented-control.mui-scroll-wrapper .mui-control-item {
				padding: 0 2px;
				color: #FFD4C2;
				font-size: 15px;
			}
			/*导航条修改结束*/
			/*侧滑导航菜单开始*/
			
			.mui-scroll-wrapper {
				background-color: #fff;
				color: #999;
			}
			
			.orderTime {
				margin-top: 35px;
				margin-left: 10px;
				margin-bottom: 10px;
			}
			
			.Narrow-all {
				width: 100%;
				text-align: center;
				margin-bottom: 20px;
				height: 40px;
			}
			
			.Narrowfen {
				background-color: #F5F5F5;
				margin: 0px 10px 10px 10px;
			}
			
			.Narrowbott {
				border-bottom: 1px solid #F9F9F9;
				margin: 0 10px;
			}
			
			.Narrow-all input[type=text] {
				height: 25px;
				width: 40%;
				margin-top: 10px;
				padding: 10px 5px;
				font-size: 12px;
			}
			
			.mui-off-canvas-right {
				width: 90%;
			}
			
			#Order_offCanvasWrapper #order_search_canva {
				position: fixed;
			}
			
			.mui-bar-footer {
				text-align: center;
				width: 100%;
				height: 43px;
				position: absolute;
				bottom: 1px;
				background: #fff;
			}
			
			.mui-bar-footer button {
				float: left;
				height: 44px;
				line-height: 44px;
				padding: 0;
				border-radius: 0;
				border-top: 1px solid #999;
				border: none;
			}
			/*侧滑导航菜单结束*/
			
			.chongzhi {
				color: #999;
				background-color: #f5f5f5;
			}
			
			.wancheng {
				border: none;
				border-top: 1px solid #FE6F2B;
				color: #fff;
				background-color: #FE6F2B;
			}
			
			.mui-popover {
				height: 300px;
			}
			
			.mui-slider-group{
				margin-top: -5px;
				z-index: -1;
			}
			
			.search-icon-collapse {
				float: right;
			}
			
			.search-icon-collapse img {
				width: 40%;
			}
			
			.search-item-collapse {
				display: none;
			}
			
			.search-item-button {
				width: 29%;
				height: 30px;
				background: #f1f1f1;
				border: none;
				margin-right: 10px;
				color: #999;
				margin-bottom: 15px;
			}
			
			.search-item-button-select {
				background: url("../images/btn-bg.png") no-repeat;
				background-size: 99% 30px;
				width: 29%;
				height: 30px;
				border: 0;
				margin-right: 10px;
				margin-bottom: 15px;
			}
			
			#segmentedControl {
				background-color: #FA6C3A;
			}
			/*新增css*/
			
			.mui-bar-tab .mui-tab-item.mui-active {
				color: #929292 !important;
			}
			
			.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
				height: 37px;
				border-bottom: 2px solid #FFFFFF;
			}
			
			.mui-segmented-control .mui-control-item {
				line-height: 37px;
			}
			
			.Gradient {
				width: 45px;
				height: 20px;
				line-height: 20px;
				border-radius: 0 3px 3px 0;
				background-color: rgba(255, 255, 255, 0.65);
				color: #FF6724;
				position: absolute;
				top: 10px;
				left: 0;
				font-size: 12px;
			}
			
			.green {
				
			}
			
			.div-price {
				/*border-bottom: 1px solid #f5f5f5;*/
				padding: 10px;
				background: #f5f5f5;
				text-align: center;
				padding-top: 20px;
			}
			
			.price-img img {
				width: 5px;
				height: 10px;
				position: absolute;
				right: 15px;
				top: 60px;
			}
			
			.sp-price-item {
				/*width: 22%;*/
				/*display: inline-block;*/
				/*text-align: center;*/
				padding-right: 5px;
				word-wrap: break-word;
				white-space: normal;
			}
			
			#sp_priceName {
				color: #4D4D4D;
			}
			
			.sel-sort {
				height: 46px;
				border-bottom: 1px solid #F5F5F5;
				position: relative;
				background-color: white;
			}
			
			.sel-name {
				width: 32%;
				display: inline-block;
				text-align: center;
				margin: 9px 0;
				border-right: 1px solid #dedede;
				/*appearance: none;
				-moz-appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				border: 1px solid #E7E7E7 !important;
				padding-left: 5px;
				margin-top: 10px;
				margin-bottom: 10px;
				background-color: #F3F5F9;
				width: 35%;
				height: 26px;
				margin-left: 2.4%;
				background: url(../images/icon-jiao.png) no-repeat right 5px center;
				background-size: 8px 8px;
				float: left;
				border-radius: 3px;
				color: #4D4D4D;*/
			}
			
			.select-ico {
				appearance: none;
				-moz-appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				width: auto;
				margin: 0;
				margin-right: 5px;
				background: url(../images/icon-jiao.png) no-repeat right center;
				background-size: 8px 8px;
				padding-right: 15px;
			}
			
			select {
				padding: 0;
				-webkit-appearance: menulist;
			}
			
			.tselect {
				width: 34%;
				display: inline;
				text-align: right;
				float: left;
				margin-top: 10px;
				color: #4D4D4D;
			}
			
			option {
				background: #fff;
				border-radius: 5px;
				border-bottom: 1px dashed #E7E7E7;
			}
			
			option:hover {
				color: #FF6724;
			}
			
			.product-main {
				padding: 15px 2.4%;
				/*font-size: 14px;*/
				height: auto;
			}
			
			.product-item {
				display: inline-block;
				width: 85%;
				float: left;
			}
			
			.btn-product {
				width: 10.2%;
				float: right;
				margin-right: 4%;
			}
			/*数据第一行*/
			
			.item-main-top {
				width: 100%;
			}
			
			.item-main-top span {
				display: inline-block;
				text-align: center;
			}
			
			.item-main-top .black {
				width: 20%;
				color: #4D4D4D;
				text-align: left;
			}
			
			.item-main-top .pro-t {
				color: #999999;
				font-size: 12px;
				width: 23%;
				text-align: left;
			}
			
			.item-main-top .start-mark {
				width: 9%;
				background: #f3f5f9;
				color: #999;
				border-radius: 3px;
				text-align: center;
				height: 15px;
				line-height: 15px;
				font-size: 10px;
				margin-right: 1%;
			}
			
			.item-main-top .tt {
				color: #999;
				width: 22%;
				font-size: 12px;
				text-align: left;
			}
			
			.item-main-top .money {
				width: 25%;
				margin-right: 0%;
				float: right;
			}
			
			.money span:nth-child(2) {
				font-size: 10px;
				/*font-family: cursive;*/
			}
			
			.money .orange1 {
				color: #FF6724;
				/*font-size: 15px;*/
				font-face: SHTeitiSC-Light;
			}
			/*数据第一行*/
			/*数据第二行*/
			
			.item-main-bottom {
				width: 100%;
				margin-top: 5px;
				margin-bottom: 7px;
			}
			
			.item-main-bottom .common {
				display: inline-block;
				text-align: center;
				color: #4D4D4D;
				margin-right: 3%;
			}
			/*数据第二行*/
			
			.pulltop {
				margin-top: 5px;
				border-bottom: 0;
			}
			/*侧滑css*/
			
			.scroll-main {
				margin-top: 20px;
				margin-left: 10px;
				color: #999;
			}
			
			.scroll-main-two {
				margin-left: 10px;
				color: #999;
			}
			
			.scroll-name {
				padding-top: 15px;
				padding-bottom: 10px;
				font-family: "黑体";
				line-height: 1;
			}
			/*.scroll-name:nth-child(2n) {
				padding-top: 15px;
				font-family: "黑体";
			}*/
			
			.scroll-btn:last-child {
				margin-right: 10px;
				border-bottom: 1px solid #F5F5F5;
			}
			
			.scroll-btns {
				width: 110px;
				height: 30px;
				background: #F5F5F5;
				border: 1px solid #F5F5F5;
				margin-right: 10px;
				margin-bottom: 15px;
			}
			
			.scroll-btns:enabled:active,
			.scroll-btns:visited {
				color: #FF6724;
				border: 1px solid #FF6724;
				background: #fff;
			}
			
			#alertversion .mui-popup-inner {
				padding: 0;
				background-color: transparent;
			}
			
			#alertversion .mui-popup-inner:after {
				background-color: transparent;
			}
			
			.upgrade {
				color: #FFFFFF;
				background: #FF6724;
				width: 80%;
				height: 38px;
				margin: 0 auto;
				position: absolute;
				bottom: 24px;
				left: 10%;
				line-height: 39px;
				font-size: 15px;
			}
			
			.upgrade a {
				color: #FFFFFF;
			}
			
			.mui-popup-button {
				border-radius: 5px !important;
			}
			
			.mui-btn:enabled:active {
				background: #FF6724;
				color: #fff;
			}
			
			.mui-btn-sell:enabled:active {
				background: #F1F1F1;
				color: #999999;
			}
			.nobuy {
				font-size: 20px;
				color: #4D4D4D;
				margin-top: 60px;
				margin-bottom: 130px;
			}
			
			@media screen and (max-width: 375px) {
				.orange1 {
					font-size: 15px;
				}
				.product-main {
					font-size: 14px;
				}
				.mui-scroll-wrapper {
					font-size: 14px;
				}
			}
			/*   @media 375 end   */
			
			@media screen and (max-width: 320px) {
				.orange1 {
					font-size: 13px;
				}
				.product-main {
					font-size: 12px;
				}
				.mui-scroll-wrapper {
					font-size: 12px;
				}
			}
			/*   @media 320 end   */
			
			@media screen and (max-width: 414px) {
				.orange1 {
					font-size: 15px;
				}
				.product-main {
					font-size: 14px;
				}
				.mui-scroll-wrapper {
					font-size: 14px;
				}
			}
			/*   @media 414 end   */
			/*顶部增加45像素DIV*/
			
			//下拉选择样式
			#div_sel_type_item div {
				height: 25px;
				background-color: #FFFFFF;
			}
			
			.selected-item {
				color: #ff6724;
			}
			.mui-slider-group{
				font-family: "微软雅黑";
			}
            .mui-popover .mui-popover-arrow:after{
            	top: 40px;
            }
